.new-product {
    position: fixed;
    top: 15vh;
    left: 30%;
    width: 40%;
    z-index: 101;
    box-sizing: border-box;
    background: #FFF;
    display: block;
    max-height: 70vh;
    overflow: auto;
    border: 2px solid #3333ff;
}
.new-product h2 {
    padding: 0px 20px;
}
.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    background-color: #3333ff;
    border-color: #fff;
    padding: 8px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
}
.btn-close:hover {
    color: #3333ff;
    background-color: #fff;
    border-color: #3333ff;
}

.modal-bottom-nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: #8181f8;
}
.modal-bottom-nav .btn-add {
    color: #fff;
    background-color: #ef0223;
    border-color: #ef0223;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    margin-left: 20px;
}
.modal-bottom-nav .btn-add:hover {
    color: #ef0223;
    background-color: #fff;
    border-color: #ef0223;
}

.form-group {
    margin: 15px 24px;
}
.form-group label {
    padding-right: 15px;
    font-weight: 600;
    width: 20%;
    min-width: 120px;
    text-align: right;
    display: inline-block;
}
.form-group input, .form-group select {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 15px;
}
.form-group input[type="number"] {
    max-width: 85px;
}