.product-item {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 48px;
}
.product-item:first-of-type {
    border-top: unset;
}

.product-amount {
    float: right;
}
.amount-input {
    width: 40px;
    height: 28px;
    text-align: center;
    padding: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
}
.amount-button {
    background: linear-gradient(to top, #3333ff 0%, #8080ff 100%);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color ease-in-out 1s;
    padding: 6px 6px;
    width: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 10px;
}
.amount-button:hover
{
    color: #ff8533;
    background: linear-gradient(to top, #1111dd 0%, #6060dd 100%);
}
